@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #212529;
  --foreground: #ffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
